.home-nav-links {
    height: 100%;
    width: 100%;
    @apply justify-center flex
}

.home-link {
    color: #999999;
    font-size: 18px;
    transition: all ease 0.1s;
    @apply px-4 flex items-center
}

.home-link.current {
    color: white;
    font-weight: 500;
}

.home-link:hover {
    font-weight: 500;
    color: white;
}

@media (max-width: 1280px) {
    .home-link {
        @apply px-2
    }
}