.agenda {
    color: white;
}

.agenda h1.title {
    font-size: 48px;
    @apply font-black text-center mt-8
}

.single-day {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(40px);
    border-radius: 27px;
    border: 0.25px solid rgba(211, 211, 211, 0.15);
    @apply mx-auto w-4/5 mb-20
}

.single-day .date {
    margin-top: 20px;
    margin-bottom: 0;
}

.single-day .date p {
    font-size: 24px;
    @apply text-center font-bold mx-auto
}

.single-topic {
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    @apply px-20
}

.single-topic.last {
    border: none;
}

@media (max-width: 1500px) {
    .single-topic {
        @apply px-10
    }
}

@media (max-width: 1200px) {
    .single-topic {
        @apply px-2
    }
    .single-day {
        width: 90%;
    }
}

@media (max-width:1024px) {
    .single-topic {
        @apply px-14
    }
}

@media (max-width: 800px) {
    .single-day {
        width: 98%;
    }
    .single-topic {
        @apply px-10
    }
    .topic-info .icon.location,
    .topic-info .topic-time {
        display: none;
    }
    .topic-details .topic-time {
        display: block !important;
    }
}

@media (max-width: 500px) {
    .single-topic {
        @apply px-4
    }
    .topic-header .topic-title p {
        @apply mx-4
    }
    .single-day .date p {
        font-size: 22px;
    }
}

.agenda-items .topic-header {
    @apply w-full flex items-center justify-between py-10
}

.topic-title,
.topic-info,
.topic-info .icons {
    @apply flex items-center
}

.agenda .topic-title .img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    @apply overflow-hidden flex justify-center items-center
}

.smallImg {
    width: 38px !important;
    height: 36px !important;
}

.agenda .topic-title .img img {
    height: 100%;
    width: auto;
}

.topic-title p,
.topic-info p {
    font-size: 18px;
    font-weight: 800;
    @apply mx-10
}

.topic-info p {
    font-weight: 500;
    @apply mx-0
}

.topic-info .icon {
    font-size: 20px;
    background-color: #1b2927;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    @apply ml-5 cursor-pointer flex justify-center items-center
}

.topic-info .icon:hover {
    background-color: #5a5c5c;
}

.topic-details ul {
    list-style: disc;
    font-weight: 500;
    font-size: 16px;
    @apply pl-20 mb-4
}

.topic-details .topic-time {
    display: none;
    font-size: 18px;
    @apply my-5 font-semibold pl-7
}

.topic-details .topic-time span {
    @apply font-normal
}