.home-content {
    height: 490px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@media (max-width: 1024px) {
    .home-content {
        height: 600px;
    }
}


/* width */

::-webkit-scrollbar {
    height: 0px;
    width: 7px;
}


/* Track */

::-webkit-scrollbar-track {
    background: transparent;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.15);
}